#main{
display: flex;
flex-wrap: wrap;
justify-content:center;
align-content: center;
border: 2px solid black;
background-image: url('./img.jpg');
background-size: 1280px 1080px;
background-repeat: no-repeat;
margin: 0;
padding: 25px;
overflow-y: hidden;
background-attachment:scroll;

}

form{
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
width: 250px;
height: 750px;
border: 2px  black;
margin-top: 5px;
background-color:white ;
border-radius: 25px;
opacity: .7;
background-attachment:fixed;
}

#mine{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: flex-end;
  background-attachment:fixed;
}
form:hover{
  
  opacity: 1;
  

}

#innerform{
  display: flex;
  flex-wrap: wrap;
  margin-top: -40px;
  background-color: transparent;
  background-attachment:fixed;
 
}

#R-form{

  display: flex;
  flex-wrap: wrap;
justify-content: center;
align-content: center;
}

#first{
  border-radius: 25px;
  width: 250px;
  height: 30px;
  margin-left: -10px;                                     ;
}

#last{
  border-radius: 25px;
  width: 250px;
  height: 30px;
  margin-left: -10px;  
}

#age{
  border-radius: 25px;
  width: 250px;
  height: 30px;
  margin-left: -10px;  
}

#Destination{
  border-radius: 25px;
  width: 250px;
  height: 30px;
  margin-left: -10px;  
}
 
#price-Range{
  border-radius: 25px;
  width: 250px;
  height: 30px;
  margin-left: -10px;  
}

#Members{
  border-radius: 25px;
  width: 250px;
  height: 30px;
  margin-left: -10px;  
}

#email{
  border-radius: 25px;
  width: 250px;
  height: 30px;
  margin-left: -10px;  
}

#Number{
  border-radius: 25px;
  width: 250px;
  height: 30px;
  margin-left: -10px;  
}

button{
  border-radius: 25px;
  margin-left: 80px;
  
  padding: 15px;
}